::-webkit-scrollbar {
  width: 10px; /* ширина для вертикального скролла */
  background-color: var(--main-bg-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-border-color);
  border-radius: 5px;
  
}
:root {
  --main-bg-color: #eeeeee;
  --main-border-color: #d1cece;
  --yellow: #ffde24;
}
body {
  position: relative;
  margin: 0;
  min-height: 100vh;
  font-family: 'Work Sans', sans-serif;
}

.body-container {
  margin: 0 auto;
  padding-bottom: 50px;
  max-width: 1200px;
  color: #343e46;
  font-family: 'Work Sans', sans-serif;
}
.filters-wrapper {
  padding: 10px;
  border: 1px solid var(--main-border-color);
  border-radius: 10px;

}

.filter-btn-wpapper {
  display: flex;
  justify-content: space-around;
}

.filter-group-checkbox {
  max-height: 115px;
  overflow-y: scroll;
}

.filter-group__title {
  margin: 0 0 10px;
}

.filter-group {
  padding: 20px 0;
  border-bottom: 1px solid var(--main-border-color);
}

.filter-btn-wpapper {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--main-border-color);
}

.filters-wrapper > .filter-group:last-child {
  border-bottom: none;
}
.checkbox-wpapper {
  display: flex;
  justify-content: space-between;
}

.checkbox__available {
  padding-right: 5px;
}

.checkbox-item {
  display: block;
  box-sizing: border-box;
  position: relative;
  padding-left: 25px;
  margin-bottom: 5px;
  max-width: 75%;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
  overflow: hidden;
}

.checkbox-item__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-item__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1rem;
  width: 1rem;
  background-color: var(--main-bg-color);
}

.checkbox-item:hover .checkbox-item__checkmark {
  background-color: #b3b0b0;
}

.checkbox-item__input:checked + .checkbox-item__checkmark {
  background-color: var(--yellow);
}

.checkbox-item__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-item__input:checked + .checkbox-item__checkmark:after {
  display: block;
}

.checkbox-item .checkbox-item__checkmark:after {
  left: 6px;
  top: 2px;
  width: 3px;
  height: 7px;
  border: 1px solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox-item__empty {
  color: #b3b0b0;
}
.dual-slider {
  display: flex;
  flex-direction: column;
}

.dual-slider__value {
  align-self: center;
}

.multi-range {
  position: relative;
  display: flex;
  justify-content: center;
  height: 20px;
  width: 100%;
}

.dual-slider__lower,
.dual-slider__upper {
  position: absolute;
  box-sizing: border-box;
  margin: 0;
  padding: 0 5px;
  min-width: 100%;
  background: linear-gradient(grey,grey) no-repeat center;
  background-size: calc(100% - 14px) 2px;
  pointer-events: none;
  appearance: none;
}

.dual-slider__upper {
  background: none;
}

.dual-slider__lower::-webkit-slider-thumb,
.dual-slider__upper::-webkit-slider-thumb {
  position: relative;
  margin: 5px 0;
  height: 21px;
  width: 21px;
  border-radius: 21px;
  background-color: var(--yellow);
  cursor: pointer;
  appearance: none;
  pointer-events: all;
  box-shadow: 0 1px 4px 0.5px rgba(0,0,0,0.25);
}

.aside-container {
  padding: 0 5px;
  width: 25%;
  min-width: 200px;
}
.products-sort {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  background-color: var(--main-bg-color);
}

.sort-wrapper-first, 
.sort-wrapper-second {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sort-wrapper-first {
  width: 66%;
}

.sort-wrapper-second {
  width: 28%;
}

.sort-bar__select {
  border: none;
  outline: none;
  cursor: pointer;
}

.amount-found {
  font-size: 20px;
  font-weight: 500;
}

.select-wrapper {
  padding: 5px;
  height: 20px;
  border: 3px solid var(--yellow);
  border-radius: 18px;
  background-color: white;
}

.search-bar {
  padding: 0 15px;
  width: 45%;
  border: 3px solid var(--yellow);
  border-radius: 18px;
  background-color: white;
}

.search-bar__input {
  height: 30px;
  outline: none;
  border: none;
  width: 100%;
}

.view-mode {
  display: flex;
}

.view-mode__item {
  margin: 2px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all .3s;
}

.view-mode__item:hover {
  background-color: var(--yellow);
}

.view-mode__item_small {
  background: center / contain no-repeat url(assets/grid-small.svg);
}

.view-mode__item_big {
  background: center / contain no-repeat url(assets/grid-big.svg);
}

.view-mode__item_active {
  background-color: #e8c812;
}

@media screen and (max-width: 900px) {
  .sort-wrapper-first {
    width: 100%;
    order: 2;
  }
  
  .sort-wrapper-second {
    width: 100%;
    margin-bottom: 10px;
  }
}
.products {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
  width: 75%;
}

.products-card-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: calc((100% - 40px) / 4);
  margin: 5px;
  padding: 10px;
  min-width: 180px;
  border: 1px solid var(--main-border-color);
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  box-shadow: #10101029 0px 1px 4px;
  transition: all .25s;
}

.product-card__small {
  width: calc((100% - 60px) / 6);
  min-width: 130px;
}

.product-card:hover {
  border-color: #c2baba;
  box-shadow: #10101029 3px 3px 4px;
}

.product-card__title {
  display: inline-block;
  max-width: 100%;
  align-self: center;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
}

.product-card > div {
  font: 14px;
  margin: 2px 0;
}

.product-card__img {
  margin: 10px 0;
  max-width: 100%;
  max-height: 180px;
  border-radius: 10px;
}

.product-card__name-group {
  margin-right: 3px;
  font-weight: 600;
}

.product-card__price {
  font-size: 22px;
  font-weight: 600;
}

.product-card__buy {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product-card__img-cart {
  width: 25px;
  height: 25px;
}

.product-card__info-item {
  display: flex;
}

.product-card__title-group {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}

.product-card__small > .product-card__title {
  font-size: 14px;
  font-weight: 400;
}

.product-card__small .product-card__price {
  font-size: 18px;
  font-weight: 400;
}

.products-pages {
  margin: 10px 0 5px 0;
  display: flex;
  justify-content: center;
}

.products-pages__item {
  margin: 3px;
  padding: 3px;
  width: 15px;
  border: 1px solid var(--main-border-color);
  border-radius: 3px;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  user-select: none;
  transition: all .25s;
  cursor: pointer;
}

.products-pages__item-activ {
  background-color: var(--yellow);
}

.products-pages__item:hover {
  border-color: #c2baba;
  box-shadow: #10101029 2px 2px 3px;
  background-color: #f1df7a;
}

@media screen and (max-width: 1070px) {
  .product-card {
    width: calc((100% - 30px) / 3);
  }
}

@media screen and (max-width: 825px) {
  .product-card {
    width: calc((100% - 20px) / 2);
  }
}

@media screen and (max-width: 410px) {
  .product-card {
    margin: 5px 0;
    width: 100%;
  }

  .product-card__small {
    margin: 5px;
    width: calc((100% - 20px) / 2);
    min-width: 130px;
  }
}

@media screen and (max-width: 1150px) {
  .product-card__small {
    width: calc((100% - 50px) / 5);
    min-width: 130px;
  }
}

@media screen and (max-width: 980px) {
  .product-card__small {
    width: calc((100% - 40px) / 4);
    min-width: 130px;
  }
}

@media screen and (max-width: 805px) {
  .product-card__small {
    width: calc((100% - 30px) / 3);
    min-width: 130px;
  }
}

@media screen and (max-width: 665px) {
  .product-card__small {
    width: calc((100% - 20px) / 2);
    min-width: 130px;
  }
}

@media screen and (max-width: 615px) {
  .product-card__small {
    width: calc((100% - 30px) / 3);
    min-width: 130px;
  }
}

@media screen and (max-width: 445px) {
  .product-card__small {
    width: calc((100% - 20px) / 2);
    min-width: 130px;
  }
}

@media screen and (max-width: 305px) {
  .product-card__small {
    margin: 5px 0;
    width: 100%;
  }
}

.btn_default {
  padding: 8px 25px;
  font-size: 16px;
  font-weight: 600;
  color: #343e46;
  background: var(--yellow);
  border: none;
  border-radius: 25px;
  transition: all .35s ease;
  cursor: pointer;
}

.product-card__btn-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 11px;
  background-color: var(--yellow);
}

.btn_default:hover {
  background-color: #e8c812;
}

.btn_active {
  background-color: #95dd1a;
  transition: ease-in-out .3s;
}

.btn_active:hover {
  background-color: #eb880f;
}
.main {
  display: flex;
}

.massage-info {
  margin: 50px auto;
  font-size: 2rem;
  font-style: italic;
  font-weight: 600;
}

@media screen and (max-width: 615px) {
  .main {
    flex-direction: column;
  }

  .aside-container {
    width: 98%;
  }

  .products {
    width: 100%;
    margin: 0;
  }

  .filters-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .filter-group {
    width: 48%;
  }

  .filters-wrapper__slider,
  .filters-wrapper__checkbox {
    display: flex;
    justify-content: space-between;
  }

  .select-wrapper {
    width: 35%;
  }

  .sort-bar__select {
    width: 100%;
  }

  .products-sort {
    margin: 10px 0;
  }
}

@media screen and (max-width: 392px) {
  .filters-wrapper__slider,
  .filters-wrapper__checkbox {
    flex-direction: column;
  }

  .filter-group {
    width: 100%;
  }
}
.card-btns-wrapper {
  display: flex;
  flex-direction: column;
}

.card-btns-wrapper * {
  margin-bottom: 20px;
}

.details-card-btns {
  width: 20%;
}

.details-card__btn-cart:hover,
.details-card__btn-buy:hover {
  scale: 1.05;
}
.product-details-wrapper {
  margin: 0 10%;
}

.details-card {
  padding: 10px;
  border: 1px solid var(--main-border-color);
  border-radius: 10px;
}

.details-card-title {
  margin: 0 10px 10px 10px;
  padding-bottom: 2px;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  border-bottom: 1px solid var(--main-border-color);
}

.details-card-info {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  align-items: center;
}

.information__item {
  margin: 3px;
  border: 1px solid var(--main-border-color);
  border-radius: 10px;
}

.product-images {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 30%;
}

.product-images-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img-wrapper {
  width: 46%;
}

.product-images-gallery__item {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.25s;
  border: 1px solid var(--main-border-color);
}

.current-img-wrapper {
  margin-bottom: 10px;
}

.product-images__current-img {
  width: 100%;
  border-radius: 15px;
}

.information__title {
  padding: 1px 2px;
  text-align: center;
  font-weight: 600;
  background-color: #e9e8e8;
  border-radius: 10px 10px 0 0;
}

.information__value {
  padding: 1px 2px;
  text-align: center;
}

.details-card__amount {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
}

.details-card-information {
  width: 40%;
}

.product-images-gallery__item:hover {
  scale: 1.05;
}
.nav-ul {
  margin: 0 0 10px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}
.nav-links__item {
  margin: 0 5px;
}

.details-nav {
  margin: 0 10%;
  font-weight: 600;
}

.nav__link:visited {
  color: black;
}

.nav__link {
  text-decoration: none;
  color: black;
  cursor: default;
}

.nav__link_store {
  cursor: pointer;
}
@media screen and (max-width: 738px){
  .product-details-wrapper {
    margin: 0 10px;
  }
}

@media screen and (max-width: 615px){
  .details-card-info {
    flex-direction: column;
  }

  .product-images {
    flex-direction: row-reverse;
    width: 100%;
    border-bottom: 1px solid var(--main-border-color);
  }

  .product-images-gallery {
    justify-content: space-between;
    padding-right: 20px;
    width: 50%;
  }

  .current-img-wrapper {
    margin: 0;
    width: 50%;
  }

  .details-card-information {
    padding: 10px 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid var(--main-border-color);
  }

  .details-card-information .information-description {
    width: 100%;
  }

  .information__item {
    width: 45%;
  }

  .information__item:nth-last-child(-n+3) {
    width: 30%;
  }

  .details-card-btns {
    width: 100%;
  }

  .card-btns-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 10px;
  }

  .card-btns-wrapper * {
    margin: 0 10px;
  }

}

@media screen and (max-width: 445px){
  .card-btns-wrapper {
    flex-direction: column;
  }

  .card-btns-wrapper * {
    margin: 10px;
  }

  .product-images {
    flex-direction: column;
    align-items: center;
  }

  .current-img-wrapper {
    width: 90%;
  }

  .product-images-gallery {
    padding: 10px;
    flex-wrap: wrap;
    width: 100%;
  }

  .img-wrapper {
    width: 30%;
  }
}

.page404-wrapper {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page404__error-message {
  padding: 10px;
  border: 1px solid var(--main-border-color);
  border-radius: 10px;
  background-color: #f1f1f1;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}
.footer-wrapper {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid var(--main-border-color);
  border-radius: 10px 10px 0 0;
  background-color: #f1f1f1;
}

.footer-title {
  display: inline-block;
  padding: 10px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}
header {
  margin: 0 auto;
  max-width: 1200px;
  font-size: 20px;
}
.basket-img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-around;
}
#basket{
  position: relative;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  margin-right: 15px;
}
.basket-count {
  position: absolute;
  top: 21px;
  left: 12px;
  display: flex;
  justify-content: center;
  width: 25px;
  color: #343e46;
  background: var(--yellow);
  border: none;
  border-radius: 50%;
  transition: all 0.35s ease;
  cursor: pointer;
}
.header_container {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header_cost {
  
}
.header_logo {
  padding-left: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #343e46;
  text-decoration: none;
}
.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0d0d0dcc;
}

.modal-content {
  position: absolute;
  padding: 12px;
  border: 1px solid var(--main-border-color);
  border-radius: 10px;
  width: 50%;
  min-width: 280px;
  max-width: 400px;
  background-color: var(--main-bg-color);
  z-index: 100;
}

.form-buy {
  display: flex;
  flex-direction: column;
}

.person__input {
  padding: 4px;
  width: 90%;
  text-align: center;
  outline: none;
  border: none;
  background-color: var(--main-bg-color);
}

.form-item {
  margin: 4px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #181516cc;
  border-radius: 15px;
  width: 100%;
}

.person-details__title,
.card-details__title {
  text-align: center;
}

.card-details {
  align-self: center;
  width: 50%;
}

.card-data {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 8px;
  height: 90px;
  background: linear-gradient(90deg,rgb(108, 108, 109) 10%,rgb(121, 87, 9) 44%,rgb(220, 198, 76) 100%);
}

.card-data-cvv {
  padding: 1%;
  display: flex;
  justify-content: space-around;
  width: 98%;
}

.card-item {
  margin: 2px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card__input {
  padding: 2px;
  width: 85%;
  min-width: 30px;
  text-align: center;
  outline: none;
  font-size: 10px;
  border: 1px solid #181516cc;
  border-radius: 5px;
  background-color: var(--main-bg-color);
}

.valid-data,
.cvv-data {
  display: flex;
  align-items: center;
  width: 54%;
  font-size: 9px;
}

.cvv-data {
  width: 34%;
}

.btn-buy,
.btn-cancel {
  padding: 8px 15px 8px 15px;
  margin: 20px 3px 0;
  align-self: center;
  text-align: center;
  width: 140px;
  font-size: 18px;
}

.card-img {
  margin: 0 5px;
  width: 18px;
  height: 12px;
}

.card-data-number__input {
  width: 72%;
}

.cvv-data__input::-webkit-outer-spin-button,
.cvv-data__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.order-complet {
  font-size: 18px;
  text-align: center;
}

.buy-btn-wrapper {
  display: flex;
  justify-content: space-between;
}

.form-item__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-data-cvv > .form-item__wrapper {
  align-items: normal;
}

.error-message {
  text-align: center;
  color: red;
}

.card-error {
  width: 90%;
  text-align: center;
  color: red;
  font-size: 9px;
  background-color: var(--main-bg-color);
}

.not-visible {
  position: absolute;
  left: 10000px;
}

.valid {

}

.invalid {
  
}

